.chat-container {
    width: 400px;
    background-color: aquamarine;
    height: 600px;
    padding: 5px;
}

.chat-messages {
    width: 400px;
    height: 500px;
    background-color: white;
}

.chat-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.message {
    background-color: azure;
    margin: 5px;
    height: 70px;
}